<?xml version="1.0" encoding="UTF-8"?>

<launch>
 <include file="$(find ublox_gps)/launch/ublox_device.launch">
  <arg name="node_name" value="gps1"/>
  <arg name="param_file_name" value="zed-f9p1"/>
  <arg name="output" value="screen"/>
  <arg name="respawn" value="true"/>
  <arg name="respawn_delay" value="30"/>
  <arg name="clear_params" value="false"/>
 </include>
</launch>

